.frame {
    position: absolute;
    user-select: none;

    button {
        -webkit-tap-highlight-color: transparent;
        border: 1px solid white;
        margin:0;
        color: white;
        font-size: 20px;
        background-color: transparent;
        &:disabled { color: #777; }
    }
    &.top { top: -32px; }
    &.bottom { bottom: -32px; }
    &.left {
        left: 0;
        button { margin-right: 5px; }
    }
    &.right {
        right: 0;
        button { margin-left: 5px; }
    }
    &.center {
        display: flex;
        gap: 5px;
        left: 0;
        width: 100%;
        button { flex: 1; }
    }
}