.form {

    tr {
        td:nth-child(1) {
            text-align: right;
        }
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    > * { margin-top: 0.5em; }
    font-size:1.2em;

    button, input {
        border: 2px solid #aaa;
        color: black;
        font-size: inherit;
        background-color: transparent;
    }

    .exit {
        position: absolute;
        top: -35px;
        right: 0em;
        border:1px solid white;
        background-color: transparent;
        color: white;
        font-size: 20px;
        margin: 0;
    }

    .controls {
        position: absolute;
        bottom: -35px;
        right: 0em;
        button {
            color: white;        
            font-size: 20px;
            border: 1px solid white;
            background-color: transparent;        
            margin: 0;
            margin-left: 5px;
        }
    }
}
