.test {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .content {
        flex: 1;
        display: flex;
        align-items: center;
        margin-bottom: 20%;
        width:60%;
        .word {
            margin: 0 auto;
            font-size:24px;
        }

        
        .check {
            position: absolute;
            width:100%;
            height: 20%;
            bottom:0;
            left:0;
            display: flex;
            button {
                display: block;
                margin:0;
                border:none;
                border-top: 1px solid #aaa;
                background-color: transparent;
                flex:1;
                font-size: 20px;
                &:nth-child(1) {
                    color: green;
                }
                &:nth-child(2) {
                    color: red;
                }
            }
        }

        .arrow {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            button {
                position: inherit;
                margin:0;
                border:none;
                background-color: white;
                color:black;
                font-size:20px;
            }

            :nth-child(1) {
                height:70%;
                left: 0;
                top: 10%;
            }
            :nth-child(2) {
                height: 70%;
                right: 0;
                top: 10%;
            }
        }

        .control {
            position: absolute;
            top: -35px;
            right: 0;
            button {
                border:1px solid white;
                background-color: transparent;
                font-size: 20px;
                color: white;
                margin-left: 5px;
                &:disabled {
                    color: #777;
                }
            }
        }
    }
}